CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_qihoo_360v6=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_BUSYBOX_CONFIG_LSUSB=y
CONFIG_COREMARK_ENABLE_MULTITHREADING=y
CONFIG_COREMARK_NUMBER_OF_THREADS=16
CONFIG_COREMARK_OPTIMIZE_O3=y
# CONFIG_IPQ_MEM_PROFILE_1024 is not set
CONFIG_IPQ_MEM_PROFILE_512=y
CONFIG_KERNEL_IPQ_MEM_PROFILE=512
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_CRYPTO_AUTH=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=n
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_TFTP=n
CONFIG_LIBCURL_THREADED_RESOLVER=y
CONFIG_LIBCURL_TLS_SRP=y
CONFIG_LIBCURL_UNIX_SOCKETS=y

# 禁用 AD 域控制器和复杂认证
#CONFIG_SAMBA4_SERVER_ADS=n
#CONFIG_SAMBA4_USE_KRB5=n

# 移除打印服务支持
#CONFIG_SAMBA4_SERVER_PRINT=n

# 关闭调试工具和脚本
#CONFIG_SAMBA4_DEBUG=n
#CONFIG_SAMBA4_PYTHON=n

# 禁用非必要协议
#CONFIG_SAMBA4_CLIENT_NETBIOS=n
#CONFIG_SAMBA4_SERVER_NETBIOS=n

# 精简客户端功能（若仅需服务端）
#CONFIG_SAMBA4_CLIENT=n

# 使用最小化依赖库
#CONFIG_SAMBA4_LIBICU=n
#CONFIG_SAMBA4_ACL_SUPPORT=n

# 关闭调试功能
CONFIG_DEBUG_FS=n
CONFIG_KALLSYMS=n

CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_CPU_IDLE_GOV_MENU=y
CONFIG_ARM_CPUIDLE=y

CONFIG_LUCI_LANG_zh_Hans=y
# CONFIG_NSS_DRV_IGS_ENABLE is not set
# CONFIG_NSS_DRV_L2TP_ENABLE is not set
# CONFIG_NSS_DRV_LAG_ENABLE is not set
# CONFIG_NSS_DRV_MAPT_ENABLE is not set
# CONFIG_NSS_DRV_PPTP_ENABLE is not set
# CONFIG_NSS_DRV_PVXLAN_ENABLE is not set
# CONFIG_NSS_DRV_SHAPER_ENABLE is not set
# CONFIG_NSS_DRV_VXLAN_ENABLE is not set
CONFIG_NSS_FIRMWARE_VERSION_12_2=y
CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_boost=m
CONFIG_PACKAGE_boost-program_options=m
CONFIG_PACKAGE_boost-system=m
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_coremark=n
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y
CONFIG_PACKAGE_iperf3=y
# CONFIG_PACKAGE_iw is not set
CONFIG_PACKAGE_iw-full=y
#CONFIG_PACKAGE_kmod-bonding=y
CONFIG_PACKAGE_kmod-crypto-acompress=y
CONFIG_PACKAGE_kmod-crypto-crc32=y
# CONFIG_PACKAGE_kmod-crypto-lib-chacha20 is not set
# CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305 is not set
# CONFIG_PACKAGE_kmod-crypto-lib-curve25519 is not set
# CONFIG_PACKAGE_kmod-crypto-lib-poly1305 is not set
CONFIG_PACKAGE_blockd=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_mount-utils=y
CONFIG_PACKAGE_kmod-fs-exportfs=n
CONFIG_PACKAGE_kmod-fs-f2fs=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-fs-exfat=y
#CONFIG_PACKAGE_kmod-gre=y
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-mhi-bus=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-qca-mcs=y

CONFIG_PACKAGE_kmod-qca-nss-drv-igs=n
CONFIG_PACKAGE_kmod-qca-nss-drv-l2tpv2=n
CONFIG_PACKAGE_kmod-qca-nss-drv-lag-mgr=n
CONFIG_PACKAGE_kmod-qca-nss-drv-map-t=n
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=n
CONFIG_PACKAGE_kmod-qca-nss-drv-pptp=n
CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc=n
CONFIG_PACKAGE_kmod-qca-nss-macsec=n


CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-usb-dwc2=y
CONFIG_PACKAGE_kmod-usb-dwc2-pci=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-ohci-pci=y
CONFIG_PACKAGE_kmod-usb-phy-nop=y
CONFIG_PACKAGE_kmod-usb-roles=n
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-uhci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_libatomic=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcap-ng=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libf2fs=y
CONFIG_PACKAGE_libiperf3=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_liblucihttp=y
CONFIG_PACKAGE_liblucihttp-lua=y
CONFIG_PACKAGE_liblucihttp-ucode=y
CONFIG_PACKAGE_libmbedtls=m
CONFIG_PACKAGE_libnghttp2=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libopenssl-legacy=y
CONFIG_PACKAGE_libubus-lua=y
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_libwebsockets-full=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-argon-config=y
# CONFIG_PACKAGE_firewall is not set
#CONFIG_PACKAGE_luci-app-firewall=n
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-package-manager=y
#CONFIG_PACKAGE_luci-app-samba4=y
#CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-i18n-argon-config-zh-cn=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-i18n-package-manager-zh-cn=y
# CONFIG_PACKAGE_luci-i18n-firewall-zh-cn is not set
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
#CONFIG_PACKAGE_luci-i18n-samba4-zh-cn=y
#CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=y
#CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=y
CONFIG_PACKAGE_luci-lib-base=y
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-jsonc=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-light=y
CONFIG_PACKAGE_luci-lua-runtime=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=n
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-bootstrap=n
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-file=y
CONFIG_PACKAGE_rpcd-mod-iwinfo=y
CONFIG_PACKAGE_rpcd-mod-luci=y
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_rpcd-mod-ucode=y
#CONFIG_PACKAGE_aria2=y
#CONFIG_PACKAGE_samba4-libs=y
#CONFIG_PACKAGE_samba4-server=y
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_ucode-mod-html=y
CONFIG_PACKAGE_ucode-mod-lua=y
CONFIG_PACKAGE_ucode-mod-math=y
CONFIG_PACKAGE_ucode-mod-uci=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_wpad=y
CONFIG_PACKAGE_dawn=y
CONFIG_PACKAGE_luci-app-dawn=y
CONFIG_PACKAGE_jq=y
#CONFIG_PACKAGE_cdnspeedtest=y
CONFIG_PACKAGE_coreutils-timeout=y
CONFIG_PACKAGE_ksmbd-server=y
CONFIG_PACKAGE_kmod-fs-ksmbd=y
CONFIG_PACKAGE_luci-app-ksmbd=y
CONFIG_PACKAGE_luci-i18n-ksmbd-zh-cn=y

# CONFIG_PACKAGE_dnsmasq is not set
# CONFIG_PACKAGE_dnsmasq-full is not set

#CONFIG_PACKAGE_kmod-fs-cifs=y
#CONFIG_PACKAGE_kmod-nls-base=y

# CONFIG_TARGET_ROOTFS_INITRAMFS is not set
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
